name: Java CI - Build/Test/Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  packages: write

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Build, test and package
        run: mvn -B clean test package

      - name: List artifacts
        run: ls -la target/

  deploy:
    name: Deploy to GitHub Packages
    runs-on: ubuntu-latest
    needs: build-and-test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Configure Maven for GitHub Packages
        env:
          GITHUB_TOKEN: ${{ PASSWORD}}
        run: |
          mkdir -p "$HOME/.m2"
          cat > "$HOME/.m2/settings.xml" <<EOF
<settings>
  <servers>
    <server>
      <id>github</id>
      <username>${USERNAME}</username>
      <password>${PASSWORD}</password>
    </server>
  </servers>
</settings>
EOF

      - name: Deploy artifact
        run: mvn -B -DskipTests=true deploy --settings "$HOME/.m2/settings.xml"

